#loginform {
    position: relative;
    padding-bottom: 80px;
}

.sso-item a {
    color: #fff;
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
}

.sso-item a:hover {
    background-color: rgba(44, 62, 80, 1.0);
    color: rgba(189, 195, 199, 1.0);
}

.sso-weixin a {
    background-color: #2db651;
}

.sso-qq a {
    background-color: #3a94d5;
}

.sso-weibo a {
    background-color: #ff0000;
}

.sso-douyin a {
    background-color: #161823;
}

.sso-items {
    position: absolute;
    bottom: 26px;
    display: flex;
    width: calc(100% - 48px);
    justify-content: space-around;
}